pre code {
  display: block;
  overflow-x: auto;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px;
  word-wrap: normal;
  word-break: break-word!important;
  word-break: break-all;
  // white-space: pre;
  border-radius: 4px;
  color: #abb2bf;
  background: #282c34;
}

code {
  padding: 2px 4px;
  background-color: #f6f6f6;
  border: none;
  font-size: 12px;
  white-space: pre-wrap;
  vertical-align: middle;
  color: #c7254e;
  border-radius: 4px;
}

a {
  color: #3194d0;
  cursor: pointer;
}

blockquote {
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f7f7f7;
  border-left: 6px solid #b4b4b4;
  word-break: break-word!important;
  word-break: break-all;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  p {
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-left: none;
  word-break: normal;
  th, td{
    padding: 8px;
    border: 1px solid #ddd;
    line-height: 20px;
    vertical-align: middle;
  }
}

ol {
  margin: -5px 0 20px 20px!important;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
